body{
    margin: 0;
    padding: 0;
    background-color: var(--tst-body-bg);
    color: var(--tst-body-color);
    font-size: var(--tst-body-font-size);
    font-weight: var(--tst-body-font-weight);
	font-family: var(--tst-font-sans-serif);
    line-height: var(--tst-body-line-height);
}

.tst_topnav{
    width: 100vw;
    height: 50px;
    padding: 0;
    background-color: var(--tst-dark);
    color: var(--tst-subtle);
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.tst_topnav .tst_wrapper{
    width: var(--tst-container-width);
    height: inherit;
    margin: 0 auto;
}

.tst_topnav .tst_wrapper ul li{
    margin: 0 10px;
}

.tst_container{
    width: var(--tst-container-width);
    min-height: 98vh;
    margin: 0 auto;
    padding: 64px 0 0;
}
.tst_container .tst_container_left,
.tst_container .tst_container_right{
    min-height: 100%;
    flex: auto;
}

.tst_container .tst_container_left{
    width: 200px;
    padding: 0 14px 0 0;
}

.tst_container .tst_container_right{
    width: 1400px;
    padding: 0;
}

.tst_container .tst_contents{
    width: 100%;
    min-height: 100%;
    background-color: var(--tst-body-contents-bg);
    border-radius: var(--tst-border-radius);
}

.tst_container .tst_contents .tst_contents_inner{
    padding: 24px;
}

.tst_container .tst_container_left .tst_leftnav,
.tst_container .tst_container_left .tst_leftnav > *{
    display: block;
}

.tst_container .tst_container_left .tst_leftnav ul li{
    padding: 2px 0;
    display: block;
}

.tst_container .tst_container_left .tst_leftnav ul li > *{
    display: inline;
}